#container{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #111110;

}

button{
  font-size: 1.5rem;
  padding: 7px 15px;
  border-radius: 10px;
  border: none;
  background-color: #0a0a0a;
  color: white;
  cursor: pointer;
}
button:hover{
  background-color: #5e5c5c;
}
button:active{
  background-color: #0a0a0a;
}
input{
  font-size: 1.8rem;
  width: 250px;
  text-align: center;
}

#diceImage{
  margin: 25px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4,auto);
  max-width: 400px;
  margin-left: 180px;
}